# Python Data Analysis for Particle Physics
Python provides engineers, computer scientist, and physicist tools for data analysis. Packages like Numpy, Pandas and Scipy allows for intelligent and thoughtful data analysis through simple and clear functions. Python is a simple language to learn however, its wide range of tools and packages means that it is difficult to master entirely. Before beginning this tutorial ensure, you understand python basics. (Insert link to basics here)

In this tutorial we will cover packages in detail:
- Scipy
- Git
- Pandas
- Numpy
- Coffea
- Matplotlib
Others may be mentioned, but these will be covered in depth.

## Pandas
Pandas' mission statement is:
___
pandas aims to be the fundamental high-level building block for doing practical, real world data analysis in Python. Additionally, it has the broader goal of becoming the most powerful and flexible open source data analysis / manipulation tool available in any language.
___
   Pandas builds on the concept of python lists and dictionaries, they provide greater control of data and a greater variety of datatypes to manage.

Pandas is a great introduction multi-dimensional data sets. Below, we will create a dataset of a particle moving 2 dimensionally.

In [2]:
#Test if you have installed pandas
#Pandas can be installed via pip(pip install pandas)
import pandas as pd
pd.__version__

'1.0.3'

In [3]:
pd.read_csv('2Dmotion.csv')

          t          x          y  v_x   v_y
0  0.000000   0.000000   0.000000    2  40.0
1  1.000000   2.000000  35.100000    2  30.2
2  2.000000   4.000000  60.400000    2  20.4
3  3.000000   6.000000  75.900000    2  10.6
4  4.000000   8.000000  81.600000    2   0.8
5  5.000000  10.000000  77.500000    2  -9.0
6  6.000000  12.000000  63.600000    2 -18.8
7  7.000000  14.000000  39.900000    2 -28.6
8  8.000000  16.000000   6.400000    2 -38.4
9  8.163263  16.326526   0.000092    2 -40.0